//colors
    $jungle-green: #26aa94;
    $san-marino: #43779d;
    $meteorite: #3F3A64;
    $ebony-clay: #232a33;
    $vulcano: #141423;
    $gray-chateau: #9aa2a6;
    $athens-gray: #ebe9ed;
    $amour: #fcf7fb;
    $quicksand: #c2a394;
    $barley-corn: #a38664;
    $spicy-mix: #8a614a;

//colors-end